*, *:after, *:before {

  box-sizing: border-box;

}

​
body {

  margin: 0;

  padding: 0;

}


 
  .div-login  {
  width: 100vw;
  height: 100vw;
  display: block;
  position: relative;
  padding: 0;
  margin-top: 0;

}

.div-login::after {
  content: "";
  background: url("../img/streaming-tv3.png");
  background-size: 60% 80%; 
  background-repeat: round;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  position: absolute;
  z-index: -1;   
} 

 .fieldset{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color:rgb(199, 59, 16);
  width: 480px;
  height: 360px;
  text-align: center;
margin-left: 30%;
  margin-top: 5vw;
  background-color: black;
  opacity: 0.8;
  border: none;
 
 }

 .fieldset h2{
   color:white;
font-family: Georgia, 'Times New Roman', Times, serif

}


input{
  background-color: darkgray; 
  border-radius: 5px 5px 5px 5px;
border: 0px solid #000000;
width: 320px;
height: 40px;

}

#login-form{
  text-align: center; 
}

#login-form a {

  text-decoration: none;
  font-weight: bold;

}
 #login-form a input{
text-align: center;
  background-color:darkred !important; 
font-size: large;
font-weight: bolder;
  }

h1{
    color: red;
 /*   font-size: 75px;*/
box-sizing: content-box;
top: 0;
padding: 0;

}
h2{
  color: red;
  margin-left: 5%;
}
#login-form p{
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.texto-detalle{
  text-align: justify;
  margin-left: 8%;
  margin-right: 6%;

}

.texto-detalle-ul li{
  text-align: justify;
  margin-left: 8%;
  margin-right: 6%;

}

@media all and (max-width: 768px) {
 .search{
  display: none;
 }
  .div-login  {
    width: 100vw;
    height: 100vw;
    display: block;
    position: relative;
    padding: 0;
    margin-top: 0;
  
  }
  .div-login::after {
    background-image: none;
    
  } 
  .fieldset{
    margin-left:0%;
    width: 100vw;
    height: 100vw;
    text-align: center;
  }

  .fieldset h2{
  font-size: 1rem;
  }
}

@media all and (max-width: 380px) {
 
  input{
   background-color: darkgray; 
  border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
  width: 80vw;
  height: 30px;
  margin-left: -10%
  }
}


